<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IRN</key>
	<string>IRN.png</string>
	<key>ENG</key>
	<string>ENG.png</string>
	<key>USA</key>
	<string>USA.png</string>
	<key>QAT</key>
	<string>QAT.png</string>
	<key>ECU</key>
	<string>ECU.png</string>
	<key>SEN</key>
	<string>SEN.png</string>
	<key>NED</key>
	<string>NED.png</string>
	<key>ARG</key>
	<string>ARG.png</string>
	<key>KSA</key>
	<string>KSA.png</string>
	<key>MEX</key>
	<string>MEX.png</string>
	<key>POL</key>
	<string>POL.png</string>
	<key>FRA</key>
	<string>FRA.png</string>
	<key>AUS</key>
	<string>AUS.png</string>
	<key>DEN</key>
	<string>DEN.png</string>
	<key>TUN</key>
	<string>TUN.png</string>
	<key>ESP</key>
	<string>ESP.png</string>
	<key>CRC</key>
	<string>CRC.png</string>
	<key>GER</key>
	<string>GER.png</string>
	<key>JPN</key>
	<string>JPN.png</string>
	<key>BEL</key>
	<string>BEL.png</string>
	<key>CAN</key>
	<string>CAN.png</string>
	<key>MAR</key>
	<string>MAR.png</string>
	<key>CRO</key>
	<string>CRO.png</string>
	<key>BRA</key>
	<string>BRA.png</string>
	<key>SRB</key>
	<string>SRB.png</string>
	<key>SUI</key>
	<string>SUI.png</string>
	<key>CMR</key>
	<string>CMR.png</string>
	<key>POR</key>
	<string>POR.png</string>
	<key>GHA</key>
	<string>GHA.png</string>
	<key>URU</key>
	<string>URU.png</string>
	<key>KOR</key>
	<string>KOR.png</string>
	<key>WAL</key>
	<string>WAL.png</string>
</dict>
</plist>
